body {
	background: #FAFAFA;
}

.siteheader {
	background: #FDFDFD;
	width: 100%;
	height: 50px; /* make sure it matches the content's padding-top */
	padding-top: 2px;
	padding-left: 1em;
	padding-right: 1em;
	border-bottom: 2px solid #DADADA;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.siteheader-logo {
	float: left;
	text-align: left;
}

.siteheader-login {
	float: right;
	text-align: right;
	/*background: #B24400;*/
	height: 70%;
	width: 230px;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-right: 1em;
	margin: 5px 1em;
}

.siteheader-search {
	float: center;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
	margin: 5px 1em;
}

.content {
	padding-top: 50px; /* make sure it matches the height of the header par */
}

.sitefooter {
	background: #BDBDBD;
	width: 100%;
	height: 75px;
	padding-top: 2px;
	padding-left: 1em;
	padding-right: 1em;
	border-top: 2px solid #DBDBDB;
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 1;
}
