body {
	background-color: #f7f7f7;
	font-family:Arial;
}

a {
	text-decoration: none;
	color: #3b5998;
	text-align: center;
}

a:hover {
	background: #819CD3;
}

a:visited {
	color: #203354;
}

.siteheader {
	width: 100%;
	height: 1.25em;
	padding-top: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
}

.siteheader-logo {
	float: left;
	text-align: left;
	display: block;
}

.siteheader-login {
	float: right;
	text-align: right;
	height: 1.25em;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 1em;
	margin: 0 1em;
	display:block;
}

.siteheader-search {
	float: center;
	text-align: center;
	padding-top: 0.3125em;
	padding-bottom: 0px;
	margin: 0.3125em 1em;
}

.menu {
	background-color:#6d84b4;
	height:2.5em;
	width:auto;
	display:block;
}

.menu ul {
	list-style:none;
}

.menu li {
	float:left;
	padding-left: 2em;
	text-align:center;
	line-height:2.5em;
	color:#FFFFFF;
}

.menu a {
	text-decoration:none;
	color:#FFFFFF;
	text-align:center;
}

.menu a:hover {
	background:#3b5998;
}

.content {
	background-color: #d8dfea;
	width: auto;
	margin: 0.625em;
	padding: 0.5em 1em;
}

.content form label {
	color: #0E0936;
}

.filterform {
	background-color: #819CD3;
	color: white;
	text-align: center;
	padding: 0.2em;
	width: 100%;
}

.filterform td label {
	color: white;
}

.eventedit-title {
	font-size:20pt;
	font-weight:bold;
}

.sitefooter {
	padding-top: 0.2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color:#6d84b4;
	height: auto;
	width: auto;
	float: center;
	text-align: center;
	color:#FFFFFF;
}
