<p><a href="/event/all/">&lt; Back to Event Listing</a></p>
<h1 style="text-align:center;">{{ thisevent.title }}</h1>
<table class="filterform">
	<tr style="font-weight:bold;">
		<td width="20%">Sport</td>
		<td width="20%">Start Date &amp; Time</td>
		<td width="20%">Address</td>
		<td width="20%">City</td>
		<td width="20%">ZIP Code</td>
	</tr><tr>
		<td>{% for c in CHOICES %}
				{% if c.0 == thisevent.category %}
					{{ c.1 }}
				{% endif %}
			{% endfor %}</td>
		<td>{{ thisevent.start_datetime }}</td>
		<td>{{ thisevent.location_main }}</td>
		<td>{{ thisevent.location_city }}</td>
		<td>{{ thisevent.location_zip }}</td>
	</tr>
</table>
<table width="100%" border="0" style="margin-top:1em;">
	<tr><td>
		<p><b>Description:</b></p>
		<p style="padding-left:1em;">{{ thisevent.description }}</p>
	</td><td width="25%" style="text-align:right;">
		<p>
			<b>Host:</b><br/><a href="/profile/{{ thisevent.creator}}/">{{ thisevent.creator }}</a>
			{% if user == thisevent.creator %}
				<br/><a href="/event/edit/{{ thisevent.id }}/">Edit event details</a>
			{% endif %}
		</p>
		{{ errormsg | safe }}
		{% if thisevent.is_cancelled %}
			<p>This event has been cancelled.</p>
		{% else %}
			{% if thisevent.participants.count >= thisevent.capacity %}
				<p>This event is full.</p>
			{% elif user.is_authenticated %}
				{% if joined %}
					<p><a href="/event/join/{{ thisevent.id }}/">Leave this event</a></p>
				{% else %}
					<p><a href="/event/join/{{ thisevent.id }}/">Join this event</a></p>
				{% endif %}
			{% endif %}
		<p><b>Participants ({{ thisevent.participants.count }} / {{thisevent.capacity}}):</b>
		{% for p in thisevent.participants.all %}
			<br/><a href="/profile/{{ p }}/">{{ p }}</a>
		{% endfor %}
		</ul></p>
		{% endif %}
	</td></tr>
</table>
<p><a href="/event/all/">&lt; Back to Event Listing</a></p>