<a name="top"></a>
<h1>Events</h1>
<!-- insert filter form here -->
<table width="100%">
<tr><td colspan="2"><hr width="90%"/></td></tr>
{% for e in data %}
	<tr><td width="85%">
		<h3>{{ e.title }}<br/><span style="font-size:80%;">&nbsp;&nbsp;&nbsp;
			{% for c in CHOICES %}
				{% if c.0 == e.category %}
					{% with sport=c.1 %}
						{{ sport }}
					{% endwith %}
				{% endif %}
			{% endfor %}
		on {{ e.start_datetime }} <!--(
			{% for t in timeleft %}
				{% if forloop.counter == e.id %}
					{{ t }}
				{% endif %}
			{% endfor %}
		)--></span></h3>
		<p style="padding-left: 2em;">{{ e.description }}</p>
		<p style="padding-left: 2em;"><i>Location:</i> {{ e.location_main }} in {{ e.location_city }}. ZIP: {{ e.location_zip }}</p>
		<p style="padding-left: 1em;"><i>Read More</i></p>
	</td><td style="text-align:right;">
		<p style="font-size:10pt;"><i>hosted by {{ e.creator.username }}</i></p>
		<p style="font-size:10pt;"><i>Capacity: 0 / {{ e.capacity }}</i></p>
		<!-- show number of current participants -->
	</td></tr>
	<tr><td colspan="2"><hr width="90%"/></td></tr>
{% endfor %}
</table>
<p><a href="#top">Back to top of page</a></p>