<a name="top"></a>
<h1>
{% if filter %}
	{% if filter.lower == "my" %}
		My Events
	{% elif filter.lower == "schedule" %}
		My Schedule
	{% elif filter.lower == "today" %}
		Events Happening Today or Later
	{% elif filter.lower == "search" %}
		Search Results: {{ searchtarget }}
	{% else %}
		Events
	{% endif %}
{% else %}
	Events
{% endif %}
</h1>
<!-- insert filter form here -->
<form method="post" action="/event/performsearch/?next={{ request.path }}" class="filterform"> <!-- /event/performsearch/?next={{ request.path }} -->
	{% csrf_token %}
	<b>Filters</b><br/>
	<button type="button" onClick="gotoPage('/event/all/')">All Events</button>
	<button type="button" onClick="gotoPage('/event/my/')">My Events</button>
	<button type="button" onClick="gotoPage('/event/schedule/')">My Schedule</button>
	<button type="button" onClick="gotoPage('/event/today/')">Today (or Later)</button>
	<!-- search forms; different ones depending on what to search -->
	<!-- the view this form goes to performs the correct search and redirects back to the event view with the correct parameters -->
	<br/><i>Search by:</i>
	<input type="text" name="search_name" size="40" maxlength="50" /> <input type="submit" name="submit_name" value="Search Name"/>&nbsp;&nbsp;&nbsp;
	<select name="search_sport">
		<option value="" selected="selected">---------</option>
		{% for c in CHOICES %}
			<option value="{{ c.0 }}">{{ c.1 }}</option>
		{% endfor %}
	</select> <input type="submit" name="submit_sport" value="Filter Sport"/>&nbsp;&nbsp;&nbsp;
	<input type="text" name="search_zip" size="5" maxlength="5" /> <input type="submit" name="submit_zip" value="Search ZIP"/>
</form>
<table width="100%">
<tr><td colspan="2"><hr width="90%"/></td></tr>
{% if data_number == 0 %}
	<!-- no entries; show message -->
	<tr><td colspan="2" style="text-align:center;">
		{% if filter %}
			{% if filter.lower == "my" %}
				<h3>You aren't hosting any events.</h3>
				<p><a href="/createevent/">Consider making one</a>, or try a different filter if you're looking for events by other members.</p>
			{% elif filter.lower == "schedule" %}
				<h3>You haven't joined any events.</h3>
				<p><a href="/event/all/">Go find one!</a></p>
			{% elif filter.lower == "today" %}
				<h3>Couldn't find any upcoming events.</h3>
				<p><a href="/createevent/">Consider making one</a>, or check back later.</p>
			{% else %}
				<h3>Hmm, there seem to be no events matching that criteria.</h3>
				<p>Try a different filter.</p>
			{% endif %}
		{% endif %}
	</td></tr>
	<tr><td colspan="2"><hr width="90%"/></td></tr>
{% endif %}
{% for e in data %}
	<tr><td width="85%">
		<h3>{{ e.title }}<br/><span style="font-size:80%;">&nbsp;&nbsp;&nbsp;
			{% for c in CHOICES %}
				{% if c.0 == e.category %}
					{{ c.1 }}
				{% endif %}
			{% endfor %}
		on {{ e.start_datetime }} <!--(
			{% for t in timeleft %}
				{% if forloop.counter == e.id %}
					{{ t }}
				{% endif %}
			{% endfor %}
		)--></span></h3>
		<p style="padding-left: 2em;">{{ e.description }}</p>
		<p style="padding-left: 2em;"><i>Location:</i> {{ e.location_main }} in {{ e.location_city }}. <i>ZIP:</i> {{ e.location_zip }}</p>
		<p style="padding-left: 1em;"><a href="/event/view/{{ e.id }}/">Read More</a></p>
	</td><td style="text-align:right;">
		<p style="font-size:10pt;"><i>hosted by <a href="/profile/{{ e.creator.username }}/">{{ e.creator.username }}</a></i></p>
		{% if e.is_cancelled %}
		<p style="font-size:10pt;"><i>Cancelled</i></p>
		{% else %}
		<p style="font-size:10pt;"><i>Capacity: {{ e.participants.count }} / {{ e.capacity }}</i></p>
		{% endif %}
		<!-- show number of current participants -->
	</td></tr>
	<tr><td colspan="2"><hr width="90%"/></td></tr>
{% endfor %}
</table>
<p><a href="#top">Back to top of page</a></p>