{% load staticfiles %}
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Sporting 2gether :: {{ page_title }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'sporting2gether/style.css' %}"/>
		<script>
			function gotoPage(page) {
				window.location = page;
			}
		</script>
	</head>
	<body>
		<div class="siteheader">
			<div class="siteheader-logo">
				<a href="/"><img src="{% static 'sporting2gether/images/sporting2gether-logoheader-4.19.15.png' %}" alt="Sporting 2gether" title="Sporting 2gether"/></a>
			</div>
			<div class="siteheader-login">
				{% if user.is_authenticated %}
				{{ user.username }} is logged in!
				<a href="/logout/">Log out</a>
				{% else %}
				<!-- if not logged in -->
				<form action="/login/?next={{ request.path }}" method="post">
					{% csrf_token %}
					{{ login_form }}
					<input type="submit" value="Sign In" />
					<span style="font-size:10pt;"><a href="/register/">Sign Up</a></span>
				</form>
				<!-- END if not logged in -->
				{% endif %}
			</div>
			<!--<div class="siteheader-search">
				search field
			</div>-->
		</div>
		<div class="menu">
			<ul>
				<li><a href="/createevent/">Create New Event</a></li>
				<li><a href="/event/my/">My Events</a></li>
				<li><a href="/event/schedule/">My Schedule</a></li>
				<li><a href="/profile/my/">My Profile</li>
				<li><a href="/contact/">Contact Us</a><li>
			</ul>
		</div>
		<div class="content">
