{% load staticfiles %}
<html>
	<head>
		<title>Sporting 2gether :: {{ page_title }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'sporting2gether/style.css' %}"/>
	</head>
	<body>
		<div class="siteheader">
			<div class="siteheader-logo">
				<img src="{% static 'sporting2gether/images/sporting2gether-logoheader-3.28.15.png' %}" alt="Sporting 2gether" title="Sporting 2gether"/>
			</div>
			<div class="siteheader-login">
				account
			</div>
			<div class="siteheader-search">
				search field
			</div>
		</div>
		<div class="content">
