{% load staticfiles %}
<span style="text-align:center;">
<p><img src="{% static 'sporting2gether/images/sporting2gether-logo-4.19.15.png' %}"/></p>
<p>Sporting2gether = Sporting together</p>
<p>Sporting together, healthy forever!</p>
<p>Welcome to Sporting2gether. Have you ever wanted to go out and play your favorite sport, but don't want to take the chance that there's no one at the park to play with? With our specially-made events system, you'll be able to scout out places where people are playing in your local area. And if there isn't any playing your favorite sport, you can organize your own get-together. Meet new people, play great games and have tons of fun!</p>
<p>We hope everyone can find partners to play sports together, at any time, any place, and any game.</p>
<p>Join Sporting2gether to explore your world!</p>
</span>