<h1>Reset Password</h1>
{% if sentForm %}
<p>Your password has been successfully reset! Check your e-mail for your new password. We recommend you change your password from your Profile once you have logged in. <a href="/">Return to homepage.</a></p>
{% else %}
<p>Due to how our passwords are stored, we cannot retrieve them directly. However, you can request to have your password reset; we will randomize your password and send the result to you via e-mail. Note that the password will ONLY be sent to the e-mail associated with your account.</p>
<form action="/resetpassword/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset Password" />
</form>
{% endif %}